cscope.out
*.swp
*.o
*.lo
man/*.[0-9]
autom4te.cache/
jenkins/.installed.cfg
jenkins/bin/
jenkins/develop-eggs/
jenkins/eggs/
jenkins/etc/
jenkins/include/
jenkins/lib/
jenkins/local/
jenkins/parts/
jenkins/sbin/
jenkins/var/

Makefile
man/Makefile
src/Makefile
src/modules/Makefile
systemd/Makefile
test/Makefile

src/dbmail-deliver
src/dbmail-export
src/dbmail-httpd
src/dbmail-imapd
src/dbmail-lmtpd
src/dbmail-pop3d
src/dbmail-sievecmd
src/dbmail-sieved
src/dbmail-users
src/dbmail-util
src/dbmail.h
src/libdbmail.la
src/modules/libauth_ldap.la
src/modules/libauth_sql.la
src/modules/libsort_null.la
src/modules/libsort_sieve.la

systemd/dbmail-imapd.service
systemd/dbmail-lmtpd.service
systemd/dbmail-pop3d.service
systemd/dbmail-sieved.service
systemd/dbmail.tmpfiles

config.h
config.log
config.status
config/config.guess.cdbs-orig
config/config.sub.cdbs-orig
libtool
src/.libs/
src/modules/.libs/
stamp-h1
stamps/
docker/dbmail.conf
