cscope.out
*.swp
*.o
*.lo
man/*.[0-9]
autom4te.cache/
build/.installed.cfg
build/bin/
build/develop-eggs/
build/eggs/
build/etc/
build/include/
build/lib/
build/local/
build/parts/
build/sbin/
build/var/
