#!/bin/sh -e

export DEBCONF_DEBUG=developer
CONFIGFILE=/etc/dbmail/dbmail.conf
DEBIANCONF=/etc/default/dbmail
MAILNAMEFILE=/etc/mailname

. /usr/share/debconf/confmodule

read_config() {
	for line in `grep -E '^[^# $]' $CONFIG|sed 's/[\t ]//g'|awk -F'#' '{print $1}'`; do
		NEWSECTION=`echo $line|grep '^\['|sed 's/\(\[\)\(.*\)\(\]\)/\2/'`
		if [ -n "$NEWSECTION" ]; then
			SECTION=`echo $NEWSECTION|tr '[A-Z]' '[a-z]'`
		else
			key=`echo $line|cut -f1 -d'='|tr '[A-Z]' '[a-z]'`
			val=`echo $line|cut -f2- -d'='`
			if [ -n "$val" ]; then
				eval "db_set dbmail/$SECTION/$key \"$val\"" || true
			fi
		fi	
	done
}

init_config() {
	if [ -e $CONFIGFILE ]; then
		read_config
	fi	
	if [ -e $DEBIANCONF ]; then
		. $DEBIANCONF
		# setup some defaults
		db_set dbmail/sieve/start_timsieved "false"
		# overwrite them with the values in the config file
		[ -n "$START_SIEVE" ] && db_set dbmail/sieve/start_timsieved "$START_SIEVE" || true
	fi
}

db_capb backup

STATE=1
LASTSTATE=2
while [ 1 ]; do

	[ "$STATE" = "0" ] && break
	[ "$STATE" = "$LASTSTATE" ] && break

	case "$STATE" in
	1)
		db_get dbmail/do_debconf
		if [ "$RET" = "false" ]; then
			break
		fi
		init_config

		db_input medium dbmail/delivery/sieve || true           
	;;

	2)
		db_get dbmail/delivery/sieve
		if [ "$RET" = "false" ]; then
			break
		fi
		db_input medium dbmail/sieve/start_timsieved || true
		db_input medium dbmail/delivery/subaddress || true           
		db_input medium dbmail/delivery/sieve_vacation || true           
		db_input medium dbmail/delivery/sieve_notify || true           
	;;
	esac
	if db_go; then
		STATE=$(($STATE+1))
	else
		STATE=$(($STATE-1))
	fi
done	
	
exit 0	

